@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #60e3fd;
  --secondary: #0e93f9;
}

@layer base {
  body {
    font-family: "Grape Nuts", cursive;
  }
}

/* body {
  font-family: "Grape Nuts", cursive;
} */

.four-dots:before {
  display: block;
  height: 5px;
  width: 5px;
  content: "";
  -webkit-animation: spin 1s infinite;
  animation: spin 1s infinite;
  border-radius: 100%;
  -webkit-box-shadow: 20px 0 0 5px var(--primary), 0 20px 0 5px var(--secondary),
    0 -20px 0 5px var(--secondary), -20px 0 0 5px var(--primary);
  box-shadow: 20px 0 0 5px var(--primary), 0 20px 0 5px var(--secondary),
    0 -20px 0 5px var(--secondary), -20px 0 0 5px var(--primary);
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@layer components {
  .input {
    @apply rounded-full p-2 px-4 outline-none w-full focus:-translate-x-2 focus:-translate-y-2 border border-black transition duration-500 active:-translate-x-2  active:-translate-y-2 shadow-md ring-1 ring-black;
  }
}
